<div class="flex flex-col items-center justify-center mb-16">
  <h2 class="mb-4 text-2xl font-semibold text-black">
    Why Commentcarp?
  </h2>
  <div class="grid max-w-3xl grid-cols-2 grid-rows-2 gap-4">
    <!-- first -->
    <div class="flex">
      <div class="px-2 py-1">
        <img src="/img/tick.svg" style="min-width: 32px" />
      </div>
      <div class="flex flex-col px-2 text-gray-600">
        <h2 class="text-lg font-semibold text-black">
          Comment with your Twitter account
        </h2>
        <p>
          Authorise commentcarp & leave a comment without ever exiting
          the page
        </p>
      </div>
    </div>
    <!-- end -->
    <!-- second -->
    <div class="flex">
      <div class="px-2 py-1">
        <img src="/img/tick.svg" style="min-width: 32px" />
      </div>
      <div class="flex flex-col px-2 text-gray-600">
        <h2 class="text-lg font-semibold text-black">
          Integration with Twitter notifications
        </h2>
        <p>
          Let the commentcarp bot notify you when someone replies to
          your comment
        </p>
      </div>
    </div>
    <!-- end -->
    <!-- third -->
    <div class="flex">
      <div class="px-2 py-1">
        <img src="/img/tick.svg" style="min-width: 32px" />
      </div>
      <div class="flex flex-col px-2 text-gray-600">
        <h2 class="text-lg font-semibold text-black">
          Privacy focused and non-invasive
        </h2>
        <p>
          We never store any private information about our users
          outside of what is publicly available
        </p>
      </div>
    </div>
    <!-- end -->
    <!-- fourth -->
    <div class="flex">
      <div class="px-2 py-1">
        <img src="/img/tick.svg" style="min-width: 32px" />
      </div>
      <div class="flex flex-col px-2 text-gray-600">
        <h2 class="text-lg font-semibold text-black">
          Light and simple
        </h2>
        <p>
          Our plugin is a single 60kb Javascript file. Don’t like
          that? Use our API to post and fetch comments!
        </p>
      </div>
    </div>
    <!-- end -->
  </div>
</div>
