{# Base HTML, compatible with what Vite expects #}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <!-- Primary Meta Tags -->
    <title>Commentcarp | Jamstack comments made easy</title>
    <meta
      name="title"
      content="Commentcarp | Jamstack comments made easy"
    />
    <meta
      name="description"
      content="Commentcarp is a privacy focused solution for adding comments to your Jamstack site."
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://commentcarp.club/" />
    <meta
      property="og:title"
      content="Commentcarp | Jamstack comments made easy"
    />
    <meta
      property="og:description"
      content="Commentcarp is a privacy focused solution for adding comments to your Jamstack site."
    />
    <meta
      property="og:image"
      content="https://commentcarp.club/img/social-media.png"
    />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta
      property="twitter:url"
      content="https://commentcarp.club/"
    />
    <meta
      property="twitter:title"
      content="Commentcarp | Jamstack comments made easy"
    />
    <meta
      property="twitter:description"
      content="Commentcarp is a privacy focused solution for adding comments to your Jamstack site."
    />
    <meta
      property="twitter:image"
      content="https://commentcarp.club/img/social-media.png"
    />
    <title>{{title or metadata.title}}</title>
    {% if build.env == "production" %} {# Add any CSS from the main
    script #} {% viteLinkStylesheetTags "src/client/main.ts" %} {%
    viteLinkModulePreloadTags "src/client/main.ts" %} {% endif %}
  </head>
  <body>
    {% include "components/nav.html" %} {{ content | safe }} {%
    include "components/footer.html" %} {% if build.env ==
    "production" %} {% viteScriptTag "src/client/main.ts" %} {% else
    %}
    <script
      type="module"
      src="http://localhost:3000/@vite/client"
    ></script>
    <script
      type="module"
      src="http://localhost:3000/src/client/main.ts"
    ></script>
    {% endif %}
  </body>
</html>
